<p id="notice"><%= notice %></p>

<p>
  <strong>Contact person:</strong>
  <%= @contact_detail.contact_person %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @contact_detail.designation %>
</p>

<p>
  <strong>Ceo name:</strong>
  <%= @contact_detail.ceo_name %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @contact_detail.company_name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @contact_detail.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @contact_detail.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @contact_detail.state %>
</p>

<p>
  <strong>Locality:</strong>
  <%= @contact_detail.locality %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @contact_detail.postal_code %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @contact_detail.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @contact_detail.address2 %>
</p>

<p>
  <strong>Area:</strong>
  <%= @contact_detail.area %>
</p>

<p>
  <strong>Contact person no:</strong>
  <%= @contact_detail.contact_person_no %>
</p>

<p>
  <strong>Mobile1:</strong>
  <%= @contact_detail.mobile1 %>
</p>

<p>
  <strong>Mobile2:</strong>
  <%= @contact_detail.mobile2 %>
</p>

<p>
  <strong>Primary email:</strong>
  <%= @contact_detail.primary_email %>
</p>

<p>
  <strong>Alternate email:</strong>
  <%= @contact_detail.alternate_email %>
</p>

<p>
  <strong>Legal owner:</strong>
  <%= @contact_detail.legal_owner %>
</p>

<p>
  <strong>Legal owner design:</strong>
  <%= @contact_detail.legal_owner_design %>
</p>

<p>
  <strong>Business category:</strong>
  <%= @contact_detail.business_category %>
</p>

<p>
  <strong>Terms condition:</strong>
  <%= @contact_detail.terms_condition %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @contact_detail.created_by %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @contact_detail.updated_by %>
</p>

<p>
  <strong>Deleted by:</strong>
  <%= @contact_detail.deleted_by %>
</p>

<p>
  <strong>User:</strong>
  <%= @contact_detail.user %>
</p>

<%= link_to 'Edit', edit_contact_detail_path(@contact_detail) %> |
<%= link_to 'Back', contact_details_path %>
