<%= form_for(@app_user) do |f| %>
  <% if @app_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@app_user.errors.count, "error") %> prohibited this app_user from being saved:</h2>

      <ul>
      <% @app_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_name %><br>
    <%= f.text_field :user_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :mobile_no %><br>
    <%= f.text_field :mobile_no %>
  </div> 
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div> 

  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit :create, :class=>"btn btn-success"%>
  </div>
<% end %>
