<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @app_user.user_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @app_user.email %>
</p>
<p>
  <strong>Mobile no:</strong>
  <%= @app_user.mobile_no %>
</p>
<p>
  <strong>Email:</strong>
  <%= @app_user.city %>
</p>
<p>
  <strong>Email:</strong>
  <%= User.find(@app_user.user_id).email %>
</p>
<p>
  <strong>password:</strong>
  <%= @app_user.password %>
</p>
<%= link_to 'Edit', edit_app_user_path(@app_user) %> |
<%= link_to 'Back', app_users_path %>

