<p id="notice"><%= notice %></p>

<p>
  <strong>Reg no:</strong>
  <%= @statutory.reg_no %>
</p>

<p>
  <strong>Reg authority:</strong>
  <%= @statutory.reg_authority %>
</p>

<p>
  <strong>Cin no:</strong>
  <%= @statutory.cin_no %>
</p>

<p>
  <strong>Tan no:</strong>
  <%= @statutory.tan_no %>
</p>

<p>
  <strong>Pan no:</strong>
  <%= @statutory.pan_no %>
</p>

<p>
  <strong>Service tax no:</strong>
  <%= @statutory.service_tax_no %>
</p>

<p>
  <strong>Excise reg no:</strong>
  <%= @statutory.excise_reg_no %>
</p>

<p>
  <strong>Tin no:</strong>
  <%= @statutory.tin_no %>
</p>

<p>
  <strong>Dgft:</strong>
  <%= @statutory.dgft %>
</p>

<p>
  <strong>Cst no:</strong>
  <%= @statutory.cst_no %>
</p>

<p>
  <strong>Ssi no:</strong>
  <%= @statutory.ssi_no %>
</p>

<p>
  <strong>Epf no:</strong>
  <%= @statutory.epf_no %>
</p>

<p>
  <strong>Esi no:</strong>
  <%= @statutory.esi_no %>
</p>

<p>
  <strong>Sct no:</strong>
  <%= @statutory.sct_no %>
</p>

<p>
  <strong>Dnb no:</strong>
  <%= @statutory.dnb_no %>
</p>

<p>
  <strong>Rbi no:</strong>
  <%= @statutory.rbi_no %>
</p>

<p>
  <strong>Fssai:</strong>
  <%= @statutory.fssai %>
</p>

<p>
  <strong>Nsic no:</strong>
  <%= @statutory.nsic_no %>
</p>

<p>
  <strong>Sst no:</strong>
  <%= @statutory.sst_no %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @statutory.created_by %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @statutory.updated_by %>
</p>

<p>
  <strong>Deleted by:</strong>
  <%= @statutory.deleted_by %>
</p>

<p>
  <strong>User:</strong>
  <%= @statutory.user %>
</p>

<%= link_to 'Edit', edit_statutory_path(@statutory) %> |
<%= link_to 'Back', statutories_path %>
