<p id="notice"><%= notice %></p>
<br>
          <%#=form_tag learners_path, method: 'get' do%>
            
            <select type="text" name="search" id="search" value="<%=params[:search].to_s%>", class="form-control" style="width:70% !important;">
              <%@biz_tabs.column_names.each do |k|%>
                <option value=""><%=k.to_s.capitalize%></option>
              <%end%>
            </select>
            <input type="" name="" class="form-control" >
            <%=submit_tag ('Search'),name: nil,class: "btn btn-danger"%>
          <%#end%>
            <br>

<h3 align="center">Listing Biz Tabs</h3>
<table class="table table-striped table-bordered" id="biz_tabs">
  <thead>
    <tr>
      <th>Primary business type</th>
      <th>Website</th>
      <th>About us</th>
      <th>Year of establishment</th>
      <th>No of employees</th>
      <th>Annual sales</th>
      <th>Ownership type</th>
      <th>Alternate website</th>
      <th>Additional businesses</th>
      <th>Office type</th>
      <th>Supplier/Buyer/Both</th>
      <th>Bankers details</th>
      <th>Business day</th>
      <th>Business hours</th>
      <th>Specialization</th>
      <th>Remarks</th>
      <th>Deals in</th>
      <th>Business preferred area</th>
      <th>Created by</th>
      <!-- <th>Updated by</th>
      <th>Deleted by</th>
      <th>User</th> -->
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @biz_tabs.each do |biz_tab| %>
      <tr>
        <td><%= biz_tab.primary_business_type %></td>
        <td><%= biz_tab.website %></td>
        <td><%= biz_tab.about_us %></td>
        <td><%= biz_tab.year_of_establishment %></td>
        <td><%= biz_tab.no_of_employees %></td>
        <td><%= biz_tab.annual_sales %></td>
        <td><%= biz_tab.ownership_type %></td>
        <td><%= biz_tab.alternate_website %></td>
        <td><%= biz_tab.additional_businesses %></td>
        <td><%= biz_tab.office_type %></td>
        <td><%= biz_tab.question %></td>
        <td><%= biz_tab.bankers_details %></td>
        <td><%= biz_tab.business_day %></td>
        <td><%= biz_tab.business_hours %></td>
        <td><%= biz_tab.specialization %></td>
        <td><%= biz_tab.remarks %></td>
        <td><%= biz_tab.deals_in %></td>
        <td><%= biz_tab.business_preferred_area %></td>
        <td><%= biz_tab.created_by %></td>
        <!-- <td><%= biz_tab.updated_by %></td>
        <td><%= biz_tab.deleted_by %></td>
        <td><%= biz_tab.user %></td> -->
        <td><%= link_to 'Show', biz_tab %>
        <%= link_to 'Edit', edit_biz_tab_path(biz_tab) %>
        <%= link_to 'Destroy', biz_tab, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% link_to 'New Biz tab', new_biz_tab_path %>
