<p id="notice"><%= notice %></p>

<p>
  <strong>Primary business type:</strong>
  <%= @biz_tab.primary_business_type %>
</p>

<p>
  <strong>Website:</strong>
  <%= @biz_tab.website %>
</p>

<p>
  <strong>About us:</strong>
  <%= @biz_tab.about_us %>
</p>

<p>
  <strong>Year of establishment:</strong>
  <%= @biz_tab.year_of_establishment %>
</p>

<p>
  <strong>No of employees:</strong>
  <%= @biz_tab.no_of_employees %>
</p>

<p>
  <strong>Annual sales:</strong>
  <%= @biz_tab.annual_sales %>
</p>

<p>
  <strong>Ownership type:</strong>
  <%= @biz_tab.ownership_type %>
</p>

<p>
  <strong>Alternate website:</strong>
  <%= @biz_tab.alternate_website %>
</p>

<p>
  <strong>Additional businesses:</strong>
  <%= @biz_tab.additional_businesses %>
</p>

<p>
  <strong>Office type:</strong>
  <%= @biz_tab.office_type %>
</p>

<p>
  <strong>Question:</strong>
  <%= @biz_tab.question %>
</p>

<p>
  <strong>Bankers details:</strong>
  <%= @biz_tab.bankers_details %>
</p>

<p>
  <strong>Business day:</strong>
  <%= @biz_tab.business_day %>
</p>

<p>
  <strong>Business hours:</strong>
  <%= @biz_tab.business_hours %>
</p>

<p>
  <strong>Specialization:</strong>
  <%= @biz_tab.specialization %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @biz_tab.remarks %>
</p>

<p>
  <strong>Deals in:</strong>
  <%= @biz_tab.deals_in %>
</p>

<p>
  <strong>Business preferred area:</strong>
  <%= @biz_tab.business_preferred_area %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @biz_tab.created_by %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @biz_tab.updated_by %>
</p>

<p>
  <strong>Deleted by:</strong>
  <%= @biz_tab.deleted_by %>
</p>

<p>
  <strong>User:</strong>
  <%= @biz_tab.user %>
</p>

<%= link_to 'Edit', edit_biz_tab_path(@biz_tab) %> |
<%= link_to 'Back', biz_tabs_path %>
