<p id="notice"><%= notice %></p>

<p>
  <strong>Hp key desc:</strong>
  <%= @website_detail.hp_key_desc %>
</p>

<p>
  <strong>Hp detail desc:</strong>
  <%= @website_detail.hp_detail_desc %>
</p>

<p>
  <strong>Au profile heading:</strong>
  <%= @website_detail.au_profile_heading %>
</p>

<p>
  <strong>Au profile desc:</strong>
  <%= @website_detail.au_profile_desc %>
</p>

<p>
  <strong>Awards heading:</strong>
  <%= @website_detail.awards_heading %>
</p>

<p>
  <strong>Awards desc:</strong>
  <%= @website_detail.awards_desc %>
</p>

<p>
  <strong>Qc heading:</strong>
  <%= @website_detail.qc_heading %>
</p>

<p>
  <strong>Qc desc:</strong>
  <%= @website_detail.qc_desc %>
</p>

<p>
  <strong>Infra heading:</strong>
  <%= @website_detail.infra_heading %>
</p>

<p>
  <strong>Infra desc:</strong>
  <%= @website_detail.infra_desc %>
</p>

<p>
  <strong>Testimonial date:</strong>
  <%= @website_detail.testimonial_date %>
</p>

<p>
  <strong>Testimonial desc:</strong>
  <%= @website_detail.testimonial_desc %>
</p>

<p>
  <strong>News date:</strong>
  <%= @website_detail.news_date %>
</p>

<p>
  <strong>News headline:</strong>
  <%= @website_detail.news_headline %>
</p>

<p>
  <strong>News coverage url:</strong>
  <%= @website_detail.news_coverage_url %>
</p>

<p>
  <strong>News desc:</strong>
  <%= @website_detail.news_desc %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @website_detail.job_title %>
</p>

<p>
  <strong>Job desc:</strong>
  <%= @website_detail.job_desc %>
</p>

<p>
  <strong>Cp heading:</strong>
  <%= @website_detail.cp_heading %>
</p>

<p>
  <strong>Cp desc:</strong>
  <%= @website_detail.cp_desc %>
</p>

<p>
  <strong>Products:</strong>
  <%= @website_detail.products %>
</p>

<p>
  <strong>Team:</strong>
  <%= @website_detail.team %>
</p>

<p>
  <strong>Cert heading:</strong>
  <%= @website_detail.cert_heading %>
</p>

<p>
  <strong>Cert details:</strong>
  <%= @website_detail.cert_details %>
</p>

<p>
  <strong>Valid from:</strong>
  <%= @website_detail.valid_from %>
</p>

<p>
  <strong>Valid till:</strong>
  <%= @website_detail.valid_till %>
</p>

<p>
  <strong>Issued on:</strong>
  <%= @website_detail.issued_on %>
</p>

<p>
  <strong>Issued by:</strong>
  <%= @website_detail.issued_by %>
</p>

<p>
  <strong>Honour award:</strong>
  <%= @website_detail.honour_award %>
</p>

<p>
  <strong>Patents:</strong>
  <%= @website_detail.patents %>
</p>

<p>
  <strong>Trademarks:</strong>
  <%= @website_detail.trademarks %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @website_detail.created_by %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @website_detail.updated_by %>
</p>

<p>
  <strong>Deleted by:</strong>
  <%= @website_detail.deleted_by %>
</p>

<p>
  <strong>User:</strong>
  <%= @website_detail.user %>
</p>

<%= link_to 'Edit', edit_website_detail_path(@website_detail) %> |
<%= link_to 'Back', website_details_path %>
